<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Lauri Rooden</string>
	<key>Builder Version</key>
	<string>12603.1.30.0.34</string>
	<key>CFBundleDisplayName</key>
	<string>json-lite</string>
	<key>CFBundleIdentifier</key>
	<string>com.litejs.json-lite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.20</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>safari-bg.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>safari-content.js</string>
				<string>content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Fast JSON highlighter - shows items count/size, handles large files, collapse items</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/lauriro/json-lite</string>
</dict>
</plist>
