
div {
	margin-left: 4px;
	padding-left: 1em;
	border-left: 1px dotted #ccc;
	font: 13px monospace;
}
body>div{
	border: none;
}
i {
	cursor: pointer;
	color: #ccc;
	-webkit-user-select: none;
	user-select: none;
}
i:hover {
	color: #999;
}
i:before {
	content: " ▼ ";
}
i:after {
	content: attr(data-content);
}
i.is-collpsed:before {
	content: " ▶ ";
}
i.is-collpsed + div {
	display: none;
}
.c1 { color: #11c; }
.c2 { color: #192; }
.c3 { color: #f12; }


